<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.ms.mapper.AdminMapper">	
    <resultMap id="" type="com.ms.model.Admin">
        <id property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>
    
    <resultMap id="MessageResultMap" type="com.ms.model.Message">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="email" column="email"/>
        <result property="state" column="state"/>
        <result property="date" column="date"/>
                
    </resultMap>
	
    <select id="getAdmin" resultMap="AdminResultMap">
        select * from admin where account=#{account}
    </select>
    
    <select id="getMessage" resultMap="MessageResultMap">
        select * from message where state=0
    </select>
    
    <update id="changeState">
        update message set state=1 where state=0;
    </update>
    
    <select id="getCount" resultType="int">
		 select count(*) from message where state=0
    </select>
    
    
</mapper>